@using Site.Client.Authentication
@using System.ComponentModel.DataAnnotations

@page "/login"
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<SitePageTitle>Login</SitePageTitle>

<div class="form-signin">
    <EditForm Model="@this" OnValidSubmit="Login">
        <DataAnnotationsValidator />

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <InputText class="form-control" @bind-Value="SSN"></InputText>
            <label for="floatingInput">SSN</label>
            <ValidationMessage For="() => SSN" />
        </div>

        @*<div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>*@

        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>

    </EditForm>
</div>

@code {
    [Required]
    public string SSN { get; set; } = null!;

    public async Task Login()
    {
        await AuthenticationService.Login(new UserForAuthenticationDto() { SSN = SSN });

        NavigationManager.NavigateTo("/user/profile");
    }
}