<p>Lorem ipsum</p>

<MudButton Variant="@Variant.Filled" OnClick="() => Widget.Size = WidgetSize.Medium">OK</MudButton>

@code {
    [CascadingParameter]
    public Widget Widget { get; set; } = default!;
}