<button type="button" class="btn position-relative p-0">
  <span class="fa fa-2x fa-shopping-basket"></span>
  @if(NoOfItems > 0) 
  {
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        @NoOfItems
        <span class="visually-hidden">items</span>
    </span>
  }
</button>

@code {
    [Parameter]
    public int NoOfItems { get; set; }
}