@using System.Globalization 

@if (CompareAtPrice != null)
{
    <h5 class="text-muted" style="display: inline-block; text-decoration: line-through; color: gray !important; margin-right: 10px">@FormatPrice(CompareAtPrice.GetValueOrDefault())</h5>
}

@if (Price == 0)
{
    <h5 style="display: inline-block; color: red; font-weight: bold; margin-left: 10px; ">Free</h5>
}
else
{
    @if (CompareAtPrice is null)
    {
        <h5 style="display: inline-block; font-weight: bold">@FormatPrice(Price)</h5>
    }
    else
    {
        <h5 style="display: inline-block; font-weight: bold; color: red;">@FormatPrice(Price)</h5>
    }
}

@code {
    [Parameter]
    public decimal Price { get; set; }

    [Parameter]
    public decimal? CompareAtPrice { get; set; }

    [Parameter]
    public Func<decimal, string> FormatPrice { get; set; } = (price) => price.ToString("c");

    [Parameter]
    public bool Big { get; set; }
}