.card 
{
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.card .card-img-top
{
    border-radius: var(--bs-card-border-radius);
}

.card .card-body
{
    padding-left: 2px;
    padding-right: 2px;
}

.card .card-body .card-text 
{
    /* font-size: 14px; */
}

.card .card-footer
{
    border: 0;
    background-color: transparent;
    padding-left: 2px;
    padding-right: 2px;
}